{% extends "base.html" %}

{% block content %}

{% if not billing_profile %}
<div class="row">
	<div class="col-6">
	 	Login
	 	{% include 'snippets/login_form.html' with form=form next_url=request.build_absolute_uri %}
	 </div>
	 {% url "guest_register" as guest_register %}
 	<div class="col-6">
	 	{% include 'snippets/login_form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register %}

 	</div>
</div>
{% else %}
	{% if not order_obj.shipping_address %}
		<div class="row">
			<div class="col-12">
				<h1>Shipping Address</h1>
			</div>
			<div class="col-12">
	 			{% include 'addresses/address_reuse.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='shipping'  %}
			</div>

			<div class="col-12">
	 			{% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri address_type='shipping' %}
	 		</div>
	 	</div>
{% elif not order_obj.billing_address %}
		<div class="row">
			<div class="col-12">
				<h1>Billing Address</h1>
			</div>
			<div class="col-12">
	 			{% include 'addresses/address_reuse.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='billing'  %}
			</div>
			<div class="col-12">
				{% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri address_type='billing' %}
	 		</div>
	 	</div>



 	{% else %}
				{% if not billing_profile.has_card %}
					{% include 'billing/card.html' with public_token=public_token next_url=request.build_absolute_uri %}
				{% else %}
					<div class="row">
						<div class="col-12">
							<h1>Checkout</h1>
						</div>
					<div class="col-12">
						<p>Total {{ order_obj.cart.total }}</p>
						<p>Shipping Address {{ order_obj.shipping_address.get_address }}</p>
						<p>Shipping Cost {{ order_obj.ship_total }}</p>
						<p>Subtotal {{ order_obj.total }}</p>

						<form method="POST", action="">
							{% csrf_token %}
						<button type="submit" class="btn btn-default">Checkout</button>
						</form>
					</div>
				{% endif %}
	{% endif %}

{% endif %}


{% endblock %}
