{% extends "base.html" %}

{% block content %}
<h1>Cart</h1>
{% if carts.products.exists %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody class="cartBody">
          {% for product in carts.products.all %}
            <tr class="cartList">
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ product.title }} 
                {% include "products/snippets/remove-form.html" with product_id=product.id %}
              </td>
              <td>{{ product.price}}</td>
            </tr>
            {% endfor %}

        </tbody>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td colspan="2"><b>Subtotal</b> <span class="subtotal">{{ carts.subtotal }}</span></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="2"><b>Total</b><span class="total"> {{ carts.total }}</span></td>
          </tr>
            <tr>
            <th scope="row"></th>

            <td colspan="2"><a class="button btn-block btn-success" href='{% url "carts:checkout" %}'>Checkout</a></td>
          </tr>
          

        </tbody>
      </table>    
{% else %}
    <p>Cart is empty</p>
  {% endif %}
<div class="remove-form" style="display:none">
{% include "products/snippets/remove-form.html" %}
</div>




{% endblock %} 