{% extends "base.html" %}

{% block content %}
<h1>Cart</h1>
{% if cart.products.exists %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody class="cartBody">
          {% for product in cart.products.all %}
            <tr class="cartList">
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ product.title }}
                {% include "products/snippets/remove-form.html" with product_id=product.id %}
                {{ product.id }}
              </td>
              <td>{{ product.price}}</td>
            </tr>
            {% endfor %}

        </tbody>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td colspan="1"><b>Sub Total</b> </span></td>
						<td colspan="1"> <span class="subtotal">{{ cart.subtotal }}</span></td>

          </tr>
          <tr>
            <th scope="row"></th>
						<td colspan="1"><b>Total</b></td>
						<td colspan="1"><span class="total"> {{ cart.total }}</span></td>

          </tr>
            <tr>
            <th scope="row"></th>

						<td colspan="1">

						</td>
						<td colspan="1">
							<form action='{% url "cart:checkout" %}'>
								<input class="btn btn-primary" type="submit" value="Checkout">
							</form>
						</td>



          </tr>


        </tbody>
      </table>

{% else %}
    <p>Cart is empty</p>
  {% endif %}
<div class="remove-form" style="display:none">
{% include "products/snippets/remove-form.html" %}
</div>




{% endblock %}
