{% extends "base.html" %}

{% block content %}
	<div class='container'>
		<div class="list-group my-4">
			<h1>Orders</h1>
		</hr>
	</br>
			{% for obj in object_list %}
		  <a href="{{ obj.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start">
		    <div class="d-flex w-100 justify-content-between">
		      <h5 class="mb-1">{{ obj.order_id }}</h5>
		      <small>{{ obj.timestamp }}</small>
		    </div>
		    <p class="mb-1"><strong>Shipping address: </strong> {{ obj.shipping_address.get_address }}</p>
				<small><strong>Status:</strong>  {{ obj.status }}</small>
				<small><strong>Total:</strong>  {{ obj.total }}</small>
		  </a>
			{% endfor %}
	</div>

	</div>

 {% if is_paginated %}
	<div class="container fixed-bottom">
		<div class="row">
			<div class="col align-self-center">
				<nav aria-label="Page navigation example">
				  <ul class="pagination">
				    {% if page_obj.has_previous %}
				      <li class="page-item active"><a class="page-link active" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
				    {% else %}
				      <li class="page-item"><span class="page-link">Previous</span></li>
				    {% endif %}
				    {% for i in paginator.page_range %}
				      {% if page_obj.number == i %}
				        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
				      {% else %}
				        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
				      {% endif %}
				    {% endfor %}
				    {% if page_obj.has_next %}
				      <li class="page-item active"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
				    {% else %}
				      <li class="page-item"><span class="page-link">Next</span></li>
				    {% endif %}
				  </ul>
				</nav>
			</div>
		</div>
	</div>

	{% endif %}

{% endblock %}
