{% extends "base.html" %}

{% block content %}
<div class='row'>
<div class='col-12'>
<h1>Account</h1>
<hr/>
</div>
<div class='col-12 col-md-3 my-3'>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Support</h4>
            <div class='list-group'>
                <a class='list-group-item' href='{% url "about" %}'>About</a>
                <a class='list-group-item' href='{% url "contact" %}'>Contact</a>
            </div>
      </div>
    </div>
</div>



<div class='col-12 col-md-3 my-3' id='billing'>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Billing</h4>
            <div class='list-group'>
                <a class='list-group-item' href='{% url "orders:list" %}'>Orders</a>
                <a class='list-group-item' href='{% url "payment_method" %}'>Payment Methods</a>
                <a class='list-group-item' href='{% url "addresses" %}'>Addresses</a>


            </div>
      </div>
    </div>
</div>


<div class='col-12 col-md-3 my-3'>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Account Details</h4>
            <div class='list-group'>
                <a class='list-group-item' href='{% url "account:user-update" %}'>Update Details</a>
                <a class='list-group-item' href='{% url "change" %}'>Change Password</a>

            </div>

      </div>
    </div>
</div>


<div class='col-12 col-md-3 my-3'>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Preferences</h4>
            <div class='list-group'>
                <a class='list-group-item' href='{% url "subscription" %}'>Email Marketing</a>

            </div>

      </div>
    </div>
</div>


<div class='col-12 col-md-3 my-3'>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">History</h4>
              <div class='list-group'>
                <a class='list-group-item' href='{% url "account:products-viewed" %}'>Products</a>
            </div>
      </div>
    </div>
</div>

{% if request.user.is_staff %}
<div class='col-12 col-md-3 my-3'>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Dashboard</h4>
            <div class='list-group'>
                <a class='list-group-item' href='{% url "sales-report" %}'>Sales Report</a>
                <a class='list-group-item' href='#'>Map Distribution</a>

            </div>

      </div>
    </div>
</div>
<div class='col-12 col-md-3 my-3'>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Retailers</h4>
            <div class='list-group'>
                <a class='list-group-item' href='{% url "retailers:list" %}'>Ratailer List</a>
                <a class='list-group-item' href='{% url "retailers:create" %}'>Create New</a>
                <a class='list-group-item' href='{% url "retailers:map" %}'>Map Distribution</a>

            </div>

      </div>
    </div>
</div>
{% endif %}


</div>


{% endblock %}

{#  Manage your orders: check all orders, first few orders#}
{# Personal infor & privacy: password reset, biling address, shipping address subscription#}
{#  Product viewed #}
