{% extends "base.html" %}

{% block js %}

{% endblock %}
{% block content %}
<div class="row my-5">
  <div class="col-4">
    <h3>Total</h3>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Order No.</th>
          <th scope="col">Amount$</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {% for q in order_total %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ q.order_id }}</td>
          <td>{{ q.total }}</td>
          <td>{{ q.timestamp|date:"Y/m/d" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
  <div class="col-4">
    <h3>Paid</h3>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Order No.</th>
          <th scope="col">Amount$</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {% for q in order_paid %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ q.order_id }}</td>
          <td>{{ q.total }}</td>
          <td>{{ q.timestamp|date:"Y/m/d" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <h3>Shipped</h3>
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Order No.</th>
        <th scope="col">Amount$</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for q in order_shipped %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ q.order_id }}</td>
        <td>{{ q.total }}</td>
        <td>{{ q.timestamp|date:"Y/m/d" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock %}
