{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Base Template</title>
    {% include 'base/css.html' %}
    {% block base_head %} {% endblock %}
  </head>
  <body>
    {% include 'base/navbar.html' with brand_name='eCommerce' %}
    <div class="container">
    {% block content %} {% endblock %}
    </div>
    


    {% include 'base/js.html' %}

    <script>
      $(document).ready(function(){
        var productForm = $(".form-product-ajax")

        productForm.submit(function(event){
          event.preventDefault();
          var thisForm = $(this);
          // var actionEndpoint = thisForm.attr("action");
          var actionEndpoint = thisForm.attr("data-endpoint"); //api endpoint
          var httpMethod = thisForm.attr("method");
          var formData = thisForm.serialize();
          console.log(formData)


          $.ajax({
            url: actionEndpoint,
            method:httpMethod,
            data: formData,
            success: function(newdata){
              console.log("Added", newdata.added);
              console.log("Removed", newdata.removed);
              var submitSpan = thisForm.find(".submit-span");
              if (newdata.added){
                submitSpan.html('In Cart<button class="btn btn-link" type="submit">remove?</button>');
              } else {
                submitSpan.html('<button class="btn btn-outline-success" type="submit">Add to cart</button>');
              }
              var itemCount = $(".itemCount");
              itemCount.text(newdata.itemCount);
              if(window.location.href.indexOf("cart") != -1){
                refreshCart();
              };
            },
            error: function(errorData){
              console.log("error")
              console.log(errorData)
            },
          });

      });

        function refreshCart(){
          var cartList = $(".cartList")
          var subtotal = $(".subtotal")
          var total = $(".total")

           $.ajax({
              url: "/api/cart/",
              method: "GET",
              success: function(data){
                console.log("success");
                console.log(data)
                length = data.products.length
                if (length > 0){

                  cartList.html(" ");
                  i = length
                  $.each(data.products, function(index, value){

                    cartList.prepend('<tr><th scope="row">'+ i +'</th><td>'+value.name+'</td><td>'+value.price+'</td></tr>')
                    i--
                  });

                  total.text(data.total)
                  subtotal.text(data.subtotal)

                } else {
                    window.location.href
                }



              },
           })
        };
 
  })

    </script>
  </body> 


</html>